/* Navigation link styles */
a.nav-link {
  color: var(--primary) !important;
}
a.nav-link.scrolled {
  color: var(--foreground) !important;
}
.nav-link:hover,
.nav-link.active {
  color: var(--white) !important;
}

/* Required fields */
.required-inputs {
  color: red;
}
input:invalid:not(:placeholder-shown) {
  border-color: red;
  background-color: rgb(225, 145, 145);
}

/* Rating styles */
.rate_box {
  display: flex;
}
.rate {
  display: grid;
  grid-template-columns: 100px;
  background-color: mintcream;
  text-align: center;
  transition: 0.3s;
}
.rate:hover {
  transform: scale(1.4);
}

/* Button styles */
.btn-container {
  display: flex;
  margin-top: 50px;
}
.sub-container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1px;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}
#submission-time {
  background-color: mintcream;
  border: 2px inset #a5c2c4;
  border-radius: 20px;
  padding: 8px 16px;
  color: #051f20;
}
#submit-btn,
#reset-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  background-color: #568d6c;
  transition: 0.3s;
}
#submit-btn:hover,
#reset-btn:hover {
  background-color: #235347;
  transform: scale(1.04);
}

/* Body background */
body {
  background-image: url('./img/feedback_background.jpg') !important;
  background: transparent !important;
  background-size: cover;
}

/* Hero section */
.hero {
  text-align: center;
  font-size: 25px;
  color: white;
  padding: 100px 40px 30px 40px;
}

/* Form container styles */
.form-container {
  width: 1000px;
  margin: 15px auto 60px auto;
  background-color: mintcream;
  box-shadow: 0px 2px 12px rgba(149, 246, 202, 0.732);
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 30px;
}

/* Fieldset and button container styles */
fieldset,
.btn-container {
  border: none;
  color: black;
  opacity: 1;
  padding: 10px;
  border-radius: 0 10px 10px 10px;
  margin-bottom: 10px;
}

legend {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-top: 30px;
  margin-left: 40px;
}

/* Personal details grid */
.sub-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  column-gap: 200px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.pair {
  text-align: left;
}
.sub-container1 input,
.sub-container1 textarea {
  text-align: center;
  font-size: 16px;
  width: 300px;
  padding: 4px;
  border: none;
  background-color: mintcream;
  border-bottom: 2px solid #a5c2c4;
}

.sub-container1 input:focus,
.sub-container1 textarea:focus,
.sub-container2 input:focus,
.sub-container2 textarea:focus,
.sub-container3 textarea:focus {
  outline: none;
  border-bottom-color: #197e6b;
}
input[type="radio"] {
  accent-color: #a5c2c4;
}
/* Message section styles */
.sub-container2 {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.sub-container2 input,
.sub-container2 textarea,
.sub-container2 select {
  padding: 4px;
  margin-bottom: 18px;
  border: none;
  border-bottom: 2px solid #a5c2c4;
  background-color: mintcream;
  font-size: 16px;
}
.sub-container2 select {
  background-color: rgb(225, 245, 234);
}
.custom-button,
.notification-button {
  width: fit-content;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  background-color: #568d6c;
  transition: 0.3s;
}
.custom-button:hover,
.notification-button:hover {
  background-color: #235347;
  transform: scale(1.04);
}
/* Feedback survey section */
.sub-container3 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  line-height: 50px;
}
.sub-container3 textarea {
  width: 700px;
  padding: 4px;
  border: none;
  background-color: mintcream;
  border-bottom: 2px solid #a5c2c4;
}
